<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/upload", method="post">
        <input type="text" name="upPath" value="/userVoca/test.txt" style="display: none;"/>
        <input type="text" name="upData" value="asdf" style="display: none;"/>
        <input type="text" name="upFile" style="display: none;"/>
        <input type="submit" name="Upload" />
    </form>
  </body>
  <script> //document.cookie; </script>
</html>
